@font-face {
    font-family: 'abc';
    src:    url('../blog/icomoon.eot?k17xj9');
    src:    url('../blog/icomoon.eot?k17xj9#iefix') format('embedded-opentype'),
        url('../blog/icomoon.ttf?k17xj9') format('truetype'),
        url('../blog/icomoon.woff?k17xj9') format('woff'),
        url('../blog/icomoon.svg?k17xj9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'abc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
    content: "\e04a";
}
.icon-chat:before {
    content: "\e0b7";
}
.icon-profile:before {
    content: "\e0ba";
}
.icon-phone:before {
    content: "\e0cf";
}
.icon-photo:before {
    content: "\e412";
}

